<nav>
    <ul>
        <li>
            <a href="/"> home </a>
        </li>
        <li>
            <a href="/projects"> projects</a>
        </li>
        <li>
            <a href="/about"> about </a>
        </li>
        <li>
            <a href="/tasks"> tasks </a>
        </li>
        <li>
            <a href="/create_tasks"> create tasks </a>
        </li>
        <li>
            <a href="/create_project"> create project </a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}