{% extends 'layouts/base.html' %}
{% block content %}
    <h1>About!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam recusandae eligendi explicabo beatae fuga maiores corporis totam illo earum necessitatibus consequuntur eius soluta quasi vel culpa nobis, deleniti tempora rerum? Optio ipsa ab molestiae! Animi sapiente, dicta neque omnis aperiam explicabo fugit assumenda ducimus dignissimos, aliquid nobis nulla! Ad ipsa autem nemo molestiae! Ut velit esse id itaque. Porro similique commodi nam voluptatem maiores. Fuga ab eius id excepturi porro beatae magni assumenda nam in sint voluptas exercitationem repellat qui neque reiciendis ut deleniti eaque non, quo sequi voluptates. Impedit dignissimos vitae consectetur recusandae excepturi quibusdam praesentium, at ab labore!</p>

{% endblock %}